@page {
  size: Letter;
  margin: 1cm 2cm;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 11pt;
}

table {
  width: 100%;
  border-collapse: collapse;
}

h1, h2 {
  font-weight: 600;
  color: #333;
}

h2 {
  margin-top: 1.5em;
}

th, td {
  border: 1px solid #666;
  padding: 8px;
}

th {
  background-color: #eee;
  font-weight: 600;
}
