@import "base.css";

/* Control column widths */
th:nth-child(1), td:nth-child(1) {
  width: 12em; /* Exercise column width */
}

th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4) {
  width: 3em; /* Sets/Reps column widths */
}
