@page {
  size: Letter;
  margin: 0.5in 1in;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 10pt;
}

table {
  border-collapse: collapse;
}

h1, h2 {
  font-weight: 600;
  color: #333;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
  margin-top: 1em;
}

th, td {
  border: 1px solid #666;
  padding: 6px;
}

th {
  background-color: #eee;
  font-weight: 600;
}
